<br>
<section id="courses" class="section bg-light">
    <div class="container">
        <h2 class="text-center">Administración</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class = "img-width img-thumbnail rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvoTXzbs7necpPymRylQ2IJZuaoukTb8sUMw&s" class="card-img-top" alt="Curso 1">
                    <div class="card-body">
                        <h5 class="card-title">Profesores Inscritos</h5>
                        <a class="btn btn-primary" (click)="profesores()">Profesores</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class = "img-width img-thumbnail rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZO995TbEuKgiTPERJs3rLf5rcrFfMESVGjw&s" class="card-img-top" alt="Curso 2">
                    <div class="card-body">
                        <h5 class="card-title">Alumnos Inscritos</h5>
                        <a class="btn btn-primary" (click)="alumnos()">Alumnos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class = "img-width img-thumbnail rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStAMvJUm-lYMx06iHeqnDGvwRUe4hgspryjA&s" class="card-img-top" alt="Curso 3">
                    <div class="card-body">
                        <h5 class="card-title">Cursos Registrados</h5>
                        <a class="btn btn-primary" (click)="cursos()" >Cursos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>