<app-nav-admin></app-nav-admin>
<br>
<div class="container">
    <h2 class="text-center">Lista de Cursos registrados en el sistema</h2>
</div>
<div class="container">
    <button class="btn-primary">Agregar Nuevo Curso</button>
</div>

<br>
<table style="margin: 0 auto;">
    <tr>
       <td colspan="4" style="text-align: center;" >Listado de Cursos</td>

    </tr>
    <tr>
        <td>Titulo de curso</td>
        <td>Descripcion</td>
        <td>Profesos</td>
        <td>Horario</td>
        <td>Op</td>
    </tr>
    <tr *ngFor="let curso of cursos">
        <td>{{curso.name}}</td>
        <td>{{curso.description}}</td>
        <td>{{curso.profesor}}</td>
        <td>{{curso.schedule}}</td>
        <td> <a [routerLink]="['/cursosedit', curso.name]">Editar</a> </td>
    </tr>
</table>