<mat-toolbar>
    <button mat-icon-button *ngIf = "sidenav.mode === 'over'" (click) = "sidenav.toggle()">
        <mat-icon *ngIf = "!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf = "sidenav.opened">close</mat-icon>
    </button>
    <span>Bolivar School</span>
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav = "matSidenav" class="mat-elevation-z8" mode="side" opened>
        <img class="avatar mat-elevation-z8" src="https://cdn-icons-png.freepik.com/512/6621/6621745.png" alt="">
        <h4 class="nombre">Mg. Kevin Salazar</h4>
        <p class="cargo">Prof. Computación Bolivar School</p>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>grouppersons</mat-icon>
            <span>Estudiantes</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>book</mat-icon>
            <span>Cursos</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>calendar</mat-icon>
            <span>Horarios</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>logout</mat-icon>
            <span (click)="salir()" >Salir</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
         contenedor princial
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

