<table style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <tr><td>Usuario<input type="text" id="userName" name="userName" [(ngModel)]="user.userName" /></td></tr>
    <tr><td>Password<input type="password" id="password" name="password" [(ngModel)]="user.password" /></td></tr>
    <tr>
        <td>
            <button type="submit" (click)="limpiar()" >Limpiar</button>
            <button type="submit" (click)="login()" >Iniciar</button>
        </td>
    </tr>
</table>