<app-nav-admin></app-nav-admin>
<br>
<table style="margin:0 auto;" >
    <tr>
        <td>Nombre del curso:<input type="text" [(ngModel)]="curso.name" />  </td>
    </tr>
    <tr>
        <td>Descripcion:<input type="text" [(ngModel)]="curso.description" />  </td>
    </tr>
    <tr>
        <td>Horario:<input type="text" [(ngModel)]="curso.schedule" />  </td>
    </tr>
    <tr>
        <td>Profesor:<input type="text" [(ngModel)]="curso.profesor"/>  </td>
    </tr>
    <tr>
        <td>
            <button type="submit" (click)="crearCurso()" >Crear curso</button>
            <button type="submit" (click)="salir()">Salir</button>
        </td>
    </tr>
</table>|