<mat-toolbar>
    <button mat-icon-button *ngIf = "sidenav.mode === 'over'" (click) = "sidenav.toggle()">
        <mat-icon *ngIf = "!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf = "sidenav.opened">close</mat-icon>
    </button>
    <span>Bolivar School</span>
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav = "matSidenav" class="mat-elevation-z8" mode="side" opened>
        <img class="avatar mat-elevation-z8" src="https://qph.cf2.quoracdn.net/main-qimg-3bb9e54e9cbd36f7157615cdc5969733-lq" alt="">
        <h4 class="nombre">Mg. Jose Peréz Lopez</h4>
        <p class="cargo">Dir. Bolivar School</p>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" (click)="profesores()">
            <mat-icon>man</mat-icon>
            <span>Docentes</span>
        </button>
        <button mat-button class="menu-button" (click)="estudiantes()">
            <mat-icon>grouppersons</mat-icon>
            <span>Estudiantes</span>
        </button>
        <button mat-button class="menu-button" (click)="cursos()">
            <mat-icon>book</mat-icon>
            <span>Cursos</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>calendar</mat-icon>
            <span>Horarios</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" (click)="salir()">
            <mat-icon>logout</mat-icon>
            <span>Salir</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <app-admin></app-admin>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
